@model List<MyDiary.CQRS.Reporting.DiaryItemDto>

<div>列表</div>

<div>@Html.ActionLink("添加","Add")</div>

<div class="row">
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Description</td>
                <td>From</td>
                <td>To</td>
                <td>Version</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.From</td>
                    <td>@item.To</td>
                    <td>@item.Version</td>
                    <td>@Html.ActionLink("修改", "Edit", new { id = item.Id })</td>
                    <td>@Html.ActionLink("删除", "Delete", new { id = item.Id })</td>
                </tr>
            }
        </tbody>
    </table>
</div>